/* Cards */
.card-stats .card-body {
    padding: 20px 25px;
}
.card-stats .card-body .numbers {
    text-align: left;
}
.card-stats .card-body .numbers .card-category {
    font-size: 30px;
    font-weight: bold;
    color: #061C43;
}

.card-stats .card-body .numbers p {
    font-size: 15px;
    color: #061C43;
}


/* Charts */
.charts .card .card-header .card-title {
    font-size: 18px;
    color: #6C757D;
}

.charts .card-category {
    color: #061C43;
    font-size: 20;
    font-weight: bold;
}